dn: ou=accounts,{{ ldap_suffix }}
objectClass: top
objectClass: organizationalUnit
ou: accounts

dn: ou=groups,{{ ldap_suffix }}
objectClass: top
objectClass: organizationalUnit
ou: groups

dn: ou=hosts,{{ ldap_suffix }}
objectClass: top
objectClass: organizationalUnit
ou: hosts

