# Managed by Ansible - dynamic zones.conf

{% for zone in zones %}
zone "{{ zone.name }}" IN {
  type master;
  file "{{ zone.file }}";
  allow-transfer { {{ client_ip }}; };  // allow zone transfers to slave
  also-notify { {{ client_ip }}; };     // notify slave when zone changes
  notify yes;
  allow-update { none; };
};
{% endfor %}

