# templates/dovecot-10-mail.conf.j2
mail_location = {{ dovecot_mail_location }}
first_valid_uid = 1000
mbox_write_locks = fcntl
namespace inbox {
  inbox = yes
  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Sent {
    special_use = \Sent
  }
  mailbox Trash {
    special_use = \Trash
  }
  mailbox Junk {
    special_use = \Junk
  }
  mailbox Archive {
    special_use = \Archive
  }
}

